<!doctype html>
<html ng-app="planner">
  <head>
    <title>Weekly Planner</title>
    <link rel="stylesheet" href="assets/dist/planner.css">
  </head>
  <body ng-controller="MainController">

    <h1>Weekly Planner</h1>
    <p>Today is {{ today | date: 'EEEE d MMMM y'}}</p>
    <br />

    <ul class="nav nav-pills topics-list" ng-controller="TopicsPanelController">
      <lp-topic ng-repeat="topic in topics" topic="topic" on-toggle="toggleTopic(topic)"></lp-topic>
    </ul>
    <br />

    <table class="planner-table">
      <thead>
        <tr>
          <th ng-repeat="day in days">{{ day.name }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td ng-repeat="day in days">
            <lp-task ng-repeat="task in planner.visibleTasksForDay(day, topics) | orderBy: 'startTime'" task="task" topics="topics" on-edit="editTask(task)" day="day" />
          </td>
          <td ng-controller="AddTaskController">
            <lp-task-form task-form="taskForm" on-add="addTask()" />
          </td>
        </tr>
      </tbody>
    </table>

      <p><button class="btn btn-success" ng-click="saveTasks()">
        <span ng-show="!saving">Save changes</span>
        <span ng-show="saving">Saving...</span>
      </button></p>

      <script src="assets/dist/planner.js"></script>

      <!-- live reload script -->
      <div ng-include="templates/live-reload.html"></div>
  </body>
</html>
